.gpt4__header {
    display: flex;
}
.gpt4__header-content{
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   margin-right: 5rem;
}
.gpt4__header-content h1 {
    line-height: 75px;
    font-size: 62px;
    letter-spacing: -0.04em;
    font-family: var(--font-family);
    font-weight: 800;
}
.gpt4__header-content p {
    font-size: 20px;
    line-height: 27px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.gpt4__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}
.gpt4__header-content__input input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-radius: 5px 0px 0px 5px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
}
.gpt4__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    border-radius: 0px 5px 5px 0px;
    background: #FF4820;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    transition: 0.6s;
}
.gpt4__header-content__input button:hover {
    background: #fff;
    color: #FF4820;
}
.gpt4__header-content__input button:active {
    transform: scale(0.9);
    transition: 0.1s;
}

.gpt4__header-content__people {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}
.gpt4__header-content__people img{
    width: 181.79px;
    height: 38px;
}


.gpt4__header-content__people  p {
    font-size: 12px;
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.gpt4__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gpt4__header-image img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.gpt4__header-image img:hover {
    transform:scale(1.03);
}

@media screen and (max-width: 1050px) {
    .gpt4__header {
        flex-direction: column;
    }
    .gpt4__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt4__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .gpt4__header p{
        font-size: 16px;
        line-height: 24px;
    }
    .gpt4__header-content__people {
        flex-direction: column;
    }
    .gpt4__header-content__people p{
        margin: 0;
    }
    .gpt4__header-content__input input,
    .gpt4__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .gpt4__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    .gpt4__header p{
        font-size: 14px;
        line-height: 24px;
    }
    .gpt4__header-content__input input,
    .gpt4__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}